asttokens==3.0.0
colorlover==0.3.0
comm==0.2.2
cufflinks==0.17.3
decorator==5.2.1
executing==2.2.0
ipython==9.1.0
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.6
jedi==0.19.2
jupyterlab_widgets==3.0.14
matplotlib-inline==0.1.7
narwhals==1.36.0
numpy==2.2.5
nbformat>=4.2.0
packaging==25.0
pandas==2.2.3
parso==0.8.4
pexpect==4.9.0
plotly==6.0.1
prompt_toolkit==3.0.51
ptyprocess==0.7.0
pure_eval==0.2.3
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==79.0.1
six==1.17.0
stack-data==0.6.3
traitlets==5.14.3
tzdata==2025.2
wcwidth==0.2.13
widgetsnbextension==4.0.14
